In [10]:
import pandas as pd
import numpy as np

In [11]:
string = "A06L7KF\nA6GEBIK\nARYB2QO\nAMV7EQF\nAL3KT5B\nAOB9SON\nAMQUHOQ\nAWA2KJK\nAOGFRXL\nAFHOHOM\nAHYIJDV\nAFVAEC7\nARFYLMK\nAFEFA29\nAZ2RYW7\nAX6281V\nAV2GF3B\nAYEFCWQ\nAXD3W8O\nA3OU183\nAE2B3RH\nAXDWDEA\nA4E0D03\nAPGIB2T\nAKXN5ZZ\nAZKZ0AI\nA65HVGP\nAJWW3IY\nA11SQQN\nA45F9E6\nAR4FPCC\nA5XL2IC\nA2D7K4A\nAYVQUF1\nAQC0L71\nA8QLAB0\nAQR8ZSS\nAL48GP3\nAX3KEW9\nAPDJ1QP\nAF3MXM1\nARR2IKE\nAAGTWZK\nA1K5DRI\nAKTGD8X\nAOS4BSJ\nAF8R0I6\nA17YCA2\nAGA8XUN\nAOYM4KG\nA91HEZV\nASFODQR\nA4G0044\nA7EM0B6\nA0NVTRV\nAA2KP1S\nAOQA85X\nATHBFWX\nAUILKHG\nAEZDKVO\nA35BJNV\nAEOBCFJ\nAYWIEKR\nALZDAVZ\nAO20DS4\nAAXAA7Z\nAIFDJZB\nAK7YRBU\nAKV66US\nAY8TPMP\nALKAXMZ\nAD77K91\nAQ25Y0L\nA8CBEJZ\nAPHNRSV\nAFYLHG4\nAGKI03N\nAQ4TMLV\nAJ0DKQ3\nA7EAWA7\nA0VFT1N\nA2P3LTM\nA11V1FH\nAHP25OJ\nAXCO7I9\nAE0MQ94\nAS2MVDL\n"
keys = string.split('\n')
keys = keys[:-1];
df = pd.read_csv("database.csv", header = None)
df1 = pd.DataFrame(data = df[1].values, index = df[0])
df1.loc[keys]
data = df1[~df1.index.duplicated(keep='first')]
valid_index = []; 
for i in range(len(data.index.values)):
    if(data.index.values[i] in keys):
        valid_index.append(i);
data = data.iloc[valid_index]

In [12]:
data

                         0
0
AJWW3IY     COVID positive
AOYM4KG     COVID positive
AR4FPCC      Other Illness
A0VFT1N     COVID positive
A4G0044     COVID positive
...                    ...
A2D7K4A  potential.healthy
AXCO7I9  potential.healthy
A11V1FH  potential.healthy
ARR2IKE  potential.healthy
AYVQUF1  potential.healthy

[87 rows x 1 columns]